/*                                          FLEXBOX                                                           */


/*               Flexbox --- Flexible box layout
                         --- one dimensional layout method for arranging items in ROWS and Columns 
                         
                 Flex Model ---Flex model has 4 comcepts

                            1.FLEX CONTAINER : the outer box which contains the different items called flex - items

                            2.FLEX ITEMS     : multiple items contained under the one box called Flexbox 

                            3.MAIN AXIS      : jis side se content likhna start ho and jaha tak end ho
                                             : can be horizontal(left-right / right-left)
                                             : can be vertical(top-bottom / bottom-top) 

                            4.CROSS AXIS     : perpendicular to the main axis
                                             : can be horizontal(left-right / right-left)
                                             : can be vertical(top-bottom / bottom-top)                        */



/*                               FLEX PROPERTIES FOR FLEX CONTAINER / OUTER BOX                                  */


/*                                        1. FLEXBOX DIRECTION 
              
                       --- it sets the how flex items are placed in the flex container , 
                       along which axis (horizontal / vertical) and which direction ( left / right  / top /bottom)

                       --- Flex-direction tells the main axis and cross axis
                       
                       1.flex-direction : row (by default) --- starts with left to right , horizontal
                       2.flex-direction : row-reverse      --- starts with right to left  , horizontal
                       3.flex-direction : column           --- starts with top to bottom , vertical
                       4.flex-direction : column-reverse   --- starts with bottom to top , vertical       
                       
                       --- if the height and width of the flexbox container is smaller than the total dimension of  all  the flex items ,  then all the flex items adjust its dimension according to the dimension of the flex container such that flex items  completely fill the flex conatiner , jab tak ki flex items ka content/text unko allow kar raha hai                              */



/*                                        2. JUSTIFY CONTENT     

                      --- alignment along only the MAIN AXIS 
                      
                      1.justify-content : flex-start (can be from left / right / top / bottom)
                      2.justify-content : center
                      3.justify-content : flex-end
                      4.justify-content : space-around
                      5.justify-content : space-evenly
                      6.justify-content : space-between                                                           */



/*                                        3.  FLEX WRAP    
                    
                      --- flex wrap means if the width of the flex-container is small than the total width of all the flex-items  and the height is sufficiently large then jitne flex items 1 row mai aa sakte hai , wo aa jayenge , baaki ke neeche chale jayenge

                      1.flex-wrap : wrap
                      2.flex-wrap : nowrap
                      3.flex-wrap : wrap-reverse                                                                */

                    

/*                                          4. ALIGN ITEMS 
 
                     --- alignment along only the CROSS AXIS
                     --- ye items ko align karta hai like agar multiple items ke diff size hai then if we apply the align items - center , then ye sabhi flex-items ko center mai ek saath rakhega. 
                     
                     1.align-items : flex-start
                     2.align-items : center
                     3.align-items : flex-end                                                                  */



/*                                          5. ALIGN CONTENT 

                    ---alignment of the space between and around the content along CROSS AXIS 
                    
                    1.align-content : flex-start
                     2.align-content : center
                     3.align-content : flex-end      
                                                                                                              */


                                                    

/*                                      FLEX PROPERTIES FOR FLEX ITEMS                                       */

/*                                      1.ALIGN SELF
                   
                    ---alignment of the individual flex item along the CROSS AXIS 
                    --- align self property has higher priority than properties for flex container            
                    
                    1.align-self : flex-start
                    2.align-self : center
                    3.align-self : flex-end                                                                   */



/*                                          2. FLEX GROW AND FLEX SHRINK

                     1.Flex Grow : how much the particular flex item will grow relative to the other flex items if  
                                   space is  available
                                   
                     2.Flex Shrink: how much the particular flex item will shrink relative to the other flex items 
                                    if space is available                                          */





body{
    text-align:center;
}


#flex_container_1{
          height:200px;
          width:800px;
          border:4px solid black;

          display:flex;     /* flex container ko display:flex karne ke baad hi,we are ready to apply 
                                the flex properties to the flex container  */
          flex-direction:row-reverse;

          justify-content:space-around;

}


#flex_item_1_1{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:lightcoral;
    display:inline-block;
}


#flex_item_1_2{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:aqua;
    display:inline-block;
}


#flex_item_1_3{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:darkorchid;
    display:inline-block;
}


#flex_item_1_4{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:magenta;
    display:inline-block;
}


#flex_item_1_5{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:yellowgreen;
    display:inline-block;
}












#flex_container_2{
    height:500px;
    width:400px;
    border:4px solid black;
    display:inline;
    display:flex; 

    flex-wrap:wrap;

    align-items:center;

    align-content:center;
    

}


#flex_item_2_1{
height:100px;
width:120px;
border:2px solid black;
background-color:lightcoral;
display:inline-block;
}


#flex_item_2_2{
height:200px;
width:120px;
border:2px solid black;
background-color:aqua;
display:inline-block;
}


#flex_item_2_3{
height:50px;
width:120px;
border:2px solid black;
background-color:darkorchid;
display:inline-block;
}


#flex_item_2_4{
height:100px;
width:120px;
border:2px solid black;
background-color:magenta;
display:inline-block;
}


#flex_item_2_5{
height:100px;
width:120px;
border:2px solid black;
background-color:yellowgreen;
display:inline-block;
}















#flex_container_3{
    height:500px;
    width:400px;
    border:4px solid black;
    display:inline;
    display:flex; 

    flex-wrap:wrap;
   /* align-items:center; */

    align-content:center;
    

}


#flex_item_3_1{
height:100px;
width:120px;
border:2px solid black;
background-color:lightcoral;
display:inline-block;
}


#flex_item_3_2{
height:200px;
width:120px;
border:2px solid black;
background-color:aqua;
display:inline-block;
}


#flex_item_3_3{
height:50px;
width:120px;
border:2px solid black;
background-color:darkorchid;
display:inline-block;
}


#flex_item_3_4{
height:100px;
width:120px;
border:2px solid black;
background-color:magenta;
display:inline-block;
}


#flex_item_3_5{
height:100px;
width:120px;
border:2px solid black;
background-color:yellowgreen;
display:inline-block;
}












#flex_container_4{
    height:500px;
    width:800px;
    border:4px solid black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* flex-wrap:wrap; */

}


#flex_item_4_1{
height:100px;
width:100px;
border:2px solid black;
background-color:lightcoral;
display:inline-block;
}


#flex_item_4_2{
height:100px;
width:100px;
border:2px solid black;
background-color:aqua;
display:inline-block;

align-self:flex-end;
}


#flex_item_4_3{
height:100px;
width:100px;
border:2px solid black;
background-color:darkorchid;
display:inline-block;
}


#flex_item_4_4{
height:100px;
width:100px;
border:2px solid black;
background-color:magenta;
display:inline-block;
}


#flex_item_4_5{
height:100px;
width:100px;
border:2px solid black;
background-color:yellowgreen;
display:inline-block;
}












#flex_container_5{
    height:400px;
    width:1000px;
    border:4px solid black;
    display:flex; 


}


#flex_item_5_1{
height:100px;
width:100px;
border:2px solid black;
background-color:lightcoral;
display:inline-block;

flex-grow:9;
flex-shrink:8;

}


#flex_item_5_2{
height:100px;
width:100px;
border:2px solid black;
background-color:aqua;
display:inline-block;
}


#flex_item_5_3{
height:100px;
width:100px;
border:2px solid black;
background-color:darkorchid;
display:inline-block;
}


#flex_item_5_4{
height:100px;
width:100px;
border:2px solid black;
background-color:magenta;
display:inline-block;
}


#flex_item_5_5{
height:100px;
width:100px;
border:2px solid black;
background-color:yellowgreen;
display:inline-block;
}

