#one{
    height:400px;
    width:400px;

    border:40px solid crimson;
    border-top:40px solid cornflowerblue;

    border-radius:50%;

    animation-name:loader;
    animation-duration:7s;
    animation-timing-function:steps(10);
    animation-delay:0s;
    animation-iteration-count:10;



    
}

@keyframes loader{
                  from{
                        transform:rotate(0deg);
                  }

                  to{
                       transform:rotate(360deg);
                  }
}