/*                                          BOX MODEL                                                       */

/*                             1.Height ---- height is of only the content area/box                               */

/*                             2.Width ----  width is of only the content area/box                                */

/*                             3.Border ---- set the border of the element/tags
                                               2 ways to write border : 
                                        ---- border-width:10 px;
                                        ---- border-style: dotted / double / solid / dashed 
                                        ---- border-color : red          
                                             
                                        ---- border : 10px solid red                                            */


/*                             4.Border Radius---- used to round the element's outer border's edge  
                                              --- border-radius: 10px / 50%  
                                              --- make a circle when height = width 
                                                                and  border-raduis = 50%                        */

/*                              5.Padding ---- area between content box and border
                                                    3 ways to do do padding
                                          ---- padding-left : 50px
                                          ---- padding-right : 150px
                                          ---- padding-top : 786px
                                          ---- padding-bottom : 89px 
                                          
                                          ---- padding : 50px (set for same in top ,bottom, left , right)
                                          
                                          ---- padding : 50px 10px 40px 786px 
                                                              (set for top right bottom left respeectively)     */

/*                              6.Margin ----- area aside the two  boxes/tags/area under border
                                                     3 ways to do
                                          ---- margin-left:20px;
                                          ---- margin-right:30px;
                                          ---- margin-top:20px;
                                          ---- margin-bottom:12px;

                                          ----margin : 20px; (set same margin for top,bottom,left,right)

                                          ----margin: 30px 20px 40px 10px;
                                                            (set margin for top right bottom left respectively */
                            

#one{
    background-color:aquamarine; 
    height:100px;
    width:150px;
}

#two{
    border-width:5px;
    border-style:solid;
    border-color:brown;
}

#three{
      height:200px;
      width:200px;
      border:7px solid red;
      border-radius:25px;
      text-align: center;           /*  jitna content area ka height and width set kiya hua hai , usko dekhte hue 
      text center mai aayega , (naa ki body ke center mai) */
}

#four{
      height:100px;
      width:100px;
      border:5px dashed purple;
      border-radius: 50%;
}

#five{
     height:100px;
     width:300px;
     background-color:cadetblue;    /* background-color is for both content area and padding area 
                                                          means it is for area under border ( content + padding ) */
     border:5px solid red;
     
     padding-left:50px;
     padding-right:25px;
     padding-top:10px;
     padding-bottom:20px;

}


#six{
    height:100px;
    width:300px;
    background-color:darkcyan;   /*background-color is set only for area under border(content + padding) 
                                                        not set for margin area                             */
    border:4px solid palevioletred;

    margin-left:50px;
    margin-right:25px;
    margin-top:10px;
    margin-bottom:20px;

}

#seven{
    height:100px;
    width:300px;
    background-color:darkcyan;
    border:4px solid palevioletred;

    margin-left:50px;
    margin-right:25px;
    margin-top:10px;
    margin-bottom:20px;

}




#eight{
      height:150px;
      width:250px;
      background-color:cadetblue;
      border:6px solid chocolate;
      border-radius:5px;
      padding:20px 30px 40px 50px;
      margin:30px 40px 50px 60px;
}
